/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('//fonts.googleapis.com/css?family=Indie+Flower');

.jumbotron {
  background-image: asset-data-url('images.jpg');
}

.footer {  
  font-family: 'Indie Flower', sans-serif;
  font-size: 1.5em;
  color: #337ab7;
}

footer a:hover, .fa-star:hover {
  color: #5cb85c;
  font-style: italic;
  text-decoration: none;
}
