.job-title-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid #2e6da4;
  border-radius: 4px;
  background-color: #337ab7;
  color: white;
  text-align: center;
}

.well.profile-block  {
  color: #fff;
  h3 {
    margin-top: 0;
  }
}

.well.profile-description {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.well.contact-info {
  background-color: #31b0d5;
  border-color: #269abc;
}

img {
  border-radius: 50%;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.75);
}